$borderColor: gray;
$hintCellBackground: lightgray;
$hoverColor: rgba($color: black, $alpha: 0.2);
$filledCellColor: black;
$boldBorderWidth: 3px;
$regularBorderWidth: 1px;

.top-block, .bottom-block, .main-area, .puzzle-row, .hints, .hint-row {
  display: flex;
}

.main-area, .hints {
  border: solid $boldBorderWidth $borderColor;
}

.top-block {

  .placeholder {
    flex-grow: 1;
  }

  .hints {
    border-bottom-width: 0;

    .hint-row {
      flex-direction: column;

      &:nth-child(5n) {

        .cell {
          border-right-width: $boldBorderWidth;
        }
      }
    }
  }

}

.bottom-block  {

  .main-area {
    flex-direction: column;

    .puzzle-row {

      &:nth-child(5n) {

        .puzzle-cell {
          border-bottom-width: $boldBorderWidth;
        }
      }

      .puzzle-cell {

        &:nth-child(5n) {
          border-right-width: $boldBorderWidth;
        }

        &.filled {
          background: $filledCellColor;
        }

        &.empty {
          &:hover {
            background: $hoverColor;
          }
        }

        &.skipped {
          position: relative;

          &::before {
            content: "•";
            line-height: 1.25;
          }
        }
      }
    }
  }

  .hints {
    flex-direction: column;
    border-right-width: 0;

    .hint-row {
      flex-direction: row;

      &:nth-child(5n) {

        .hint-cell {
          border-bottom-width: $boldBorderWidth;
        }
      }
    }
  }
}

.cell {
  width: 1.2em;
  height: 1.2em;
  border: solid $regularBorderWidth $borderColor;
  text-align: center;

  &.hint-cell {
    background: $hintCellBackground;
  }
}

button {
  padding: 10px;
  background: #1976d2;
  color: white;
  margin-top: 20px;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
