.top-block, .bottom-block, .main-area, .puzzle-row, .hints, .hint-row {
  display: flex;
}

.top-block {

  .placeholder {
    flex-grow: 1;
  }

  .hints .hint-row {
    flex-direction: column;
  }
}

.bottom-block  {

  .main-area {
    flex-direction: column;
  }

  .hints {
    flex-direction: column;

    .hint-row {
      flex-direction: row;
    }
  }
}

.cell {
  width: 1.2em;
  height: 1.2em;
  border: 1px solid gray;
  text-align: center;

  &.hint-cell {
    background: lightgray;
  }

  &.puzzle-cell {

    &.filled {
      background: black;
    }

    &.empty {
      &:hover {
        background: rgba($color: black, $alpha: 0.2);
      }
    }

    &.skipped {
      position: relative;

      &::before {
        content: "•";
        line-height: 1.25;
      }
    }
  }
}

button {
  padding: 10px;
  background: #1976d2;
  color: white;
  margin-top: 20px;
  border: none;

  &:hover {
    cursor: pointer;
  }
}
